/* Dotted line seperating a title to a link/date */
.dotted-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #333;
}

.dotted-link .label {
    flex-shrink: 0;
}

.dotted-link .dots {
    flex-grow: 1;
    border-bottom: 1px dotted #ccc;
    margin: 0 10px;
    height: 1px;
}

.dotted-link .value {
    color: #999;
    font-weight: normal;
    flex-shrink: 0;
}

.dotted-link:hover .value {
    color: #666;
    text-decoration: underline;
}
