#portfolio-list .page-container {
    gap: 15px;
}

#portfolio-list .portfolio-item {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

#portfolio-list .portfolio-link:hover .value {
    color: #000;
    text-decoration: underline;
}

#portfolio-list .portfolio-description {
    color: #777;
    font-size: 0.9em;
    margin-left: 0;
    line-height: 1.4;
}

#portfolio-list .dashes {
    border-bottom: 1px dashed #eee;
    width: 100%;
    margin: 10px 0;
}
